.container {
  max-width: 720px;
}

h1 {
  font-weight: 700;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

article img {
    margin-bottom: 1rem;
}

.markdown-alert.markdown-alert-note {
    border-left: #0969da 0.5rem solid;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

.markdown-alert-title {
    color: #0969da;
}

.markdown-alert-title > .octicon.octicon-info {
    margin-right: 5px;
    margin-top: -3px;
}

.highlight {
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--bs-light-bg-subtle);
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-top: 0.03rem solid var(--bs-dark-border-subtle);
    border-bottom: 0.03rem solid var(--bs-dark-border-subtle);
}

header.profil {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

header.profil a {
  text-decoration: none;
}

.profil .long-text {
    color: var(--bs-secondary-color);
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.profil-picture {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
}

#symbol {
    font-size: 20px;
}

article {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.vote-emojis {
    margin-bottom: 1rem;
}

.vote-emojis > .btn.btn-outline-secondary.vote-emoji {
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0.2rem;
    padding: 0.2rem 0.5rem;
    letter-spacing: 0.1rem;
}

.vote-emojis > .btn.btn-outline-secondary.vote-emoji:hover {
    background-color: var(--bs-primary-bg-subtle);
}

a.user-mention {
    text-decoration: none;
    font-weight: 600;
    color: rgba(var(--bs-secondary-text-emphasis), var(--bs-link-opacity, 1));
}

a.user-mention:hover {
    text-decoration: underline;
}

footer {
    margin-bottom: 4rem;
}

footer p, .profil p {
    color: var(--bs-gray);
    font-weight: 250;
}

ol.custom {
    list-style-type: none;
    padding-left: 0;
}

ol.custom > li {
    counter-increment: customlistcounter;
    color: var(--bs-gray-500);
    margin-bottom: 4rem;
    display: inline-block;
    transition: 0.3s;
    padding: 5px;
    border-radius: 3px;
}

ol.custom > li:hover {
    background-color: var(--bs-light-bg-subtle);
    transition: 0.1s;
}

ol.custom > li:before {
    content: "#" counter(customlistcounter);
    float: left;
    font-size: 3rem;
    margin-right: 1rem;
}

ol.custom:first-child {
    counter-reset: customlistcounter;
}

p.card-text {
    text-align: left;
    color: var(--bs-gray-600);
}

.card-title {
    color: var(--bs-body-color);
    margin-top: 0.5rem;
    min-height: 4rem;
}

hr {
    width: 20%;
    margin: 0 auto;
}

:root {
    --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
