.container {
  max-width: 720px;
}

h1 {
  font-weight: 700;
}

.highlight {
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: var(--bs-light-bg-subtle);
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-top: 0.03rem solid var(--bs-dark-border-subtle);
    border-bottom: 0.03rem solid var(--bs-dark-border-subtle);
}

header.profil {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

header.profil a {
  text-decoration: none;
}

.profil .long-text {
    color: var(--bs-secondary-color);
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.profil-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}

article {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

footer {
  margin-bottom: 4rem;
}

footer p, .profil p {
  color: var(--bs-gray);
  font-weight: 250;
}

.card {
  margin-bottom: 4rem;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.1);
  text-overflow: ellipsis;
  max-height: 15rem;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-title {
    font-weight: 700;
}

hr {
  width: 20%;
  margin: 0 auto;
}

:root {
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
