.container {
  max-width: 720px;
}

h1 {
  font-weight: 700;
}

.highlight {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--bs-light-border-subtle);
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}

header.profil {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

header.profil a {
  text-decoration: none;
}

.profil .long-text {
    color: var(--bs-secondary-color);
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.profil-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}

article {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

footer {
  margin-bottom: 4rem;
}

footer p, .profil p {
  color: var(--bs-gray);
  font-weight: 250;
}

:root {
  --bs-font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --bs-body-font-size: 1.2rem;
}
