{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <meta name="description" content="Article by {{ username }} titled: {{ title }}.">
  <link rel="stylesheet" href="/assets/starry-night.css">
  <link rel="canonical" href="{{ article_comments_url }}" />
  <style></style>
{% endblock %}

{% block header %}
<header class="profil">
  <a href="/">
      <div class="text-center">
          <img src="{{ profil_picture_url }}" class="profil-picture" alt="Profil picture of {{ username }}">
          <p class="long-text text-uppercase">{{ username }}  <span class="symbol"></span></p>
      </div>
  </a>
</header>
{% endblock %}

{% block content %}
    <p class="text-center">
        <small class="text-body-secondary"><i>{{ publish_date }}</i> — <a href="{{ article_comments_url }}">{{ comments_count }} comments</a></small>
    </p>
    <article>
        <h1 class="mb-4 text-center">{{ title }}</h1>

        {{ html_content }}
    </article>

    <div class="vote-emojis">
    <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">🙂 ✚</a>

    {% if reaction_counts.plus_one != 0 %}
    <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">👍 {{ reaction_counts.plus_one }}</a>
    {% endif %}

    {% if reaction_counts.minus_one != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">👎 {{ reaction_counts.minus_one }}</a>
    {% endif %}

    {% if reaction_counts.laugh != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">😄 {{ reaction_counts.laugh }}</a>
    {% endif %}

    {% if reaction_counts.heart != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">❤️ {{ reaction_counts.heart }}</a>
    {% endif %}

    {% if reaction_counts.hooray != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">🎉 {{ reaction_counts.hooray }}</a>
    {% endif %}

    {% if reaction_counts.confused != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">😕 {{ reaction_counts.confused }}</a>
    {% endif %}

    {% if reaction_counts.rocket != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">🚀 {{ reaction_counts.rocket }}</a>
    {% endif %}

    {% if reaction_counts.eyes != 0 %}
        <a class="btn btn-outline-secondary vote-emoji" href="{{ article_comments_url }}" role="button">👀 {{ reaction_counts.eyes }}</a>
    {% endif %}
    </div>

    <div class="tiny-utterances"
        data-repo-owner="{{ owner }}"
        data-repo-name="{{ repository }}"
        data-issue-number="{{ issue_number }}"
        data-max-comments="10"
        <a class="tu-button"
            href="https://github.com/{{ owner }}/{{ repository }}/issues/{{ issue_number }}#issuecomment-new">
            Discuss this page on Github
        </a>
    </div>
{% endblock %}

{% block footer %}
  <footer class="profil text-center">
    <p class="long-text text-uppercase">About {{ username }} <span class="symbol"></span></p>
    <p class="text-center">{{ html_bio }}</p>
  </footer>
{% endblock %}
