<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer data-domain="blog.kerollmops.com" src="https://plausible.io/js/script.js"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦀</text></svg>">
    <script type="application/javascript" src="/assets/script.js"></script>
    <script defer type="application/javascript" src="/assets/tiny-utterances.js"></script>
    <script type="application/javascript" src="/assets/matter.min.js"></script>
    <script type="application/javascript" src="/assets/balls.js"></script>
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
    <link href="assets/tiny-utterances.css" rel="stylesheet">

    <!-- Primary Meta Tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="title" content="{% block title %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{% block url %}{% endblock %}" />
    <meta property="og:title" content="{% block title %}{% endblock %}" />
    <meta property="og:description" content="{% block description %}{% endblock %}" />
    <meta property="og:image" content="{% block preview_url %}{% endblock %}" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{% block title %}{% endblock %}" />
    <meta property="twitter:title" content="{% block title %}{% endblock %}" />
    <meta property="twitter:description" content="{% block description %}{% endblock %}" />
    <meta property="twitter:image" content="{% block preview_url %}{% endblock %}" />

    {% block head %}{% endblock %}
  </head>
  <body>
    <canvas id="ballsCanvas"></canvas>
    <div class="container">
      {% block header %}{% endblock %}

      {% block content %}{% endblock %}

      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
