{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block head %}
  <meta name="description" content="The blog of {{ username }} with a lot of interesting articles.">
  <style>
  </style>
{% endblock %}

{% block header %}
<header class="profil">
    <a href="/">
        <div class="text-center">
            <img src="{{ profil_picture_url }}" class="profil-picture" alt="Profil picture of {{ username }}">
            <p class="long-text text-uppercase">{{ username }}</p>
        </div>
    </a>
    <p class="text-center">{{ html_bio }}</p>
  <hr/>
</header>
{% endblock %}

{% block content %}
<ol class="custom">
    {% for article in articles %}
    <li>
        <small class="text-body-secondary">
            <i>{{ article.publish_date }}</i> — {{ article.comments_count }} comments
            {% if let Some(username) = article.guest_user %}
             — written by <a href="https://github.com/{{ username }}">{{ username }}</a>
            {% endif %}
        </small>
        <a class="article-link" href="{{ article.url }}">
            <h4 class="card-title">{{ article.title }}</h4>
            <p class="card-text">{{ article.synopsis }}</p>
        </a>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block footer %}
<footer>
    <hr class="mb-3"/>
    <p class="text-center">Subscribe to <a href="/atom.xml">my RSS/Atom feed</a> for the latest updates and articles.</p>
</footer>
{% endblock %}
