{% extends "base.html" %}

{% block profile %}{% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block header %}
<header class="profil">
  <a href="/">
      <div class="text-center">
          <img src="{{ profil_picture_url }}" class="profil-picture" alt="Profil picture of {{ username }}">
          <p class="long-text text-uppercase">{{ username }}</p>
      </div>
  </a>

  <p>{{ bio }}</p>

</header>
{% endblock %}

{% block content %}
  <ul>
    {% for article in articles %}
    <li><a href="{{ article.url }}">{{ article.title|e }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
