{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block head %}
  <meta name="description" content="The blog of {{ username }} with a lot of interesting articles.">
  <style>
  </style>
{% endblock %}

{% block header %}
<header class="profil">
  <a href="/">
      <div class="text-center">
          <img src="{{ profil_picture_url }}" class="profil-picture" alt="Profil picture of {{ username }}">
          <p class="long-text text-uppercase">{{ username }}</p>
      </div>
  </a>
  <p class="text-center">{{ bio }}</p>
  <hr/>
</header>
{% endblock %}

{% block content %}
<ol class="custom">
    {% for article in articles %}
    <li>
        <a style="text-decoration: none;" href="{{ article.url }}">
            <h4 class="card-title">{{ article.title }}</h4>
            <p class="card-text">{{ article.synopsis }}</p>
        </a>
    </li>
    {% endfor %}
</ol>
{% endblock %}

{% block footer %}{% endblock %}
