name: Build and Upload to gh-pages

on:
  pull_request:
  push:
    branches:
      - main
  issues:
    # All those event could change the blog rendering, showing/hiding content
    types:
      [
        opened,
        closed,
        reopened,
        edited,
        deleted,
        labeled,
        unlabeled,
        transferred,
      ]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: dtolnay/rust-toolchain@1.79

      - name: Build the pages using the templates
        run: cargo run --release
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          GITHUB_TOKEN: ${{ secrets.READ_ONLY_GITHUB_TOKEN }}

      - name: Purge the CSS
        run: |
          npm install -g purgecss
          purgecss --content 'output/*.html' --css 'output/assets/bootstrap.min.css' --output 'output/assets'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          cname: blog.kerollmops.com
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
